body{
    background-color: #D5FAFF !important;
}
header{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    gap: 1px;
}
.logo{
    display: flex;
    height: 7vw;
    width: 7vw;
    min-height: 40px;
    min-width: 40px;
}
.portada{
    width: 100%;
}
.header-top{
    display: flex;
    gap: 0.5%;
    height: 100%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 1.8%;
}
.left, .right{
    align-items: center;
}
.right{
    display: flex;
    width: 39%;
    justify-content: flex-end;
    padding-right: 10px;
    
}
.left{
    display: flex;
    width: 61%;
    min-width: 300px;
    gap: 20px;
    align-items: baseline;
}
.header-center{
    gap: 3%;
    display: flex;
    list-style-type: none;
    height: 60px;
    padding-left: 4%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: center;
}
details {
    position: relative;
}

summary {
    cursor: pointer;
    min-width: 40px;
}
.opciones{
    display: flex;
    flex-direction: column;
    color: dimgray;
    margin-left: 20%;

}

.opciones a:hover {
    background-color: #f1f1f1;
    color: #0097A7;
}
.btn-iniciarSesion{
    background-color: #ba5192;
    color: white;
    border-radius: 10px;
    width: 35% ;
    min-width: 80px;
}