body{
    background-color: #D5FAFF !important;
}
header{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    gap: 5px;
}
.logo{
    display: flex;
    height: 7vw;
    width: 7vw;
    min-height: 40px;
    min-width: 40px;
}
.portada{
    width: 100%;
}
.header-top{
    display: flex;
    gap: 0.5%;
    height: 100%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 1.8%;
}
.left, .right{
    align-items: center;
}
.right{
    display: flex;
    width: 15%;
    padding-right: 10px;
    justify-content: center;
    
}
.left{
    display: flex;
    width: 85%;
    min-width: 300px;
    gap: 15px;
    align-items: baseline;
}
.header-center{
    display: flex;
    list-style-type: none;
    height: 60px;
    padding-left: 4%;
    padding-right: 3%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: baseline;
}
.opciones-lista{
    display: none;
    position: absolute;
    color: dimgray;
    background-color: whitesmoke;
    box-shadow: 0 4px 7px rgb(0, 0, 0,0.2);
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0.5%;
    z-index: 100;
    width: 7%;
}
.opciones:hover .opciones-lista{
    display: flex;
}
.btn-iniciarSesion{
    background-color: #ba5192;
    color: white;
    border-radius: 10px;
    width: 100% ;
    min-width: 80px;
}
.mensaje{
    font-size: 8vw;
    padding-left: 5%;
    font-family: fantasy;
}
.btn-pedirAhora{
    margin-left: 5%;
    margin-top: 3%;
    background-color: #ba5192;
    color: white;
    border-radius: 10px;
    width: 40% ;
    min-width: 150px;
    font-size: 2.5vw;
}
.top{
    display: flex;
    justify-content: space-between;
}
.postre{
    height: 50vw;
}